html {
  padding: 25px;
}

body {
  background-image: url("img/img8.png");
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  color: #FCF7F8;
  font-weight: bold;
}

p {
  color: #FCF7F8
}

a {
    color: #FCF7F8
}

.dashboard {
min-height: 10%;
}

.kalendarz {
min-height: 90%;
}

.fc {
  min-height: 100%;
}

.fc-header-toolbar {
  min-height: 10%;
}

.fc-view-harness {
  min-height: 90%;
}

.fc-scrollgrid {
  min-height: 100%;
  border: none !important;

}

.fc-col-header {
  font-size: 18px;
  background-color: #242320;
  opacity: 1;
  color: #FCF7F8;
}

.fc .fc-daygrid-day-number {
  color: #FCF7F8 !important;
}

.fc-daygrid-day {
  height: 140px !important;
  opacity: 1;
}


.fc-daygrid-event {
  font-color: #FFFCF7F8;
}

.fc-h-event {
  border: 3px #FCF7F8 !important;
  background-color: #242320 !important;
  opacity: 0.7;
}

.fc-event-title {
  font-size: 16px;
  padding: 0 1px;
  white-space: normal;
}

.btn {
  background-color: #242320 !important;
  border: 3px #FCF7F8 !important;
}

.fc-event-time {
  font-size: 16px;
  min-width: 40px !important;
}

.fc-day-today {
    background: rgba(118, 135, 125, 0.7) !important;
    border: none !important;

}

