html {
  padding: 1rem;
}

body {
  background-image: url("img/img1.jpg")
}

h1, h2, h3, h4, h5, h6 {
  color: #FFF;
}

p {
  color: #FFF
}

a {
    color: #FFF
}

.fc-body .fc-row { max-height: 45px; }

.fc-col-header {
  background-color: #FFF;
  opacity: 0.3;
  color: #000;
}

.fc .fc-daygrid-day-number {
  color: #FFF !important;
}