<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h2 Home></h2>
<form action="{{ url_for('dashboard') }}" method="post">
    Enter zip code <input type="text", name="zipCode">
    Country code <input type="text", name="countryCode">
    <br>
    <input type="submit", value="Submito">
</form>
<form action="{{ url_for('bootstrap') }}" method="post">
    Enter zip code <input type="text", name="zipCode">
    Country code <input type="text", name="countryCode">
    <br>
    <input type="submit", value="BS">
</form>
</body>
</html>